<!DOCTYPE html>
<html lang="pt">

<%- include('partials/head') %>
<%- include('partials/navbar') %>

    <title>Resultados da Busca</title>

<body>
    <div class="container col-6">
    <h1>Resultados da Busca</h1>
    <% if (resultados.length > 0) { %>
        <ul>
            <% resultados.forEach(produto => { %>
                <li>
                    <strong><%= produto.nome %></strong>: <%= produto.localizacao %>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
        <p>Nenhum produto encontrado.</p>
    <% } %>

    <br>
</div>
    
<%- include('partials/footer') %>

</body>
</html>
